# Byte-compiled / cache
__pycache__/
*.py[cod]
*.egg-info/

# Data & models
models/
*.pkl

# Notebooks
*.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

venv

# .gradio and all files inside it
.gradio/
